body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.header {
    height: 100vh;
    width: 100vw;
    /*    margin-top: -15px;*/
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.top-bar {
    height: 5em;
    background-color: rgba(100, 0, 0, 0.0);
}

.logo {
    float: left;
    height: 100%;
    width: 10em;
    background-color: rgba(100, 100, 255, 0.0);
}

.menu {
    float: right;
    height: 100%;
    width: 50%;
    max-width: 40em;

}

.main-title {
    width: 100%;
    margin-top: 12em;
    text-align: center;
}

.sub-title {
    color: white;
}

.title {
    margin: -15px;
    font-size: 250%;
    color: white;
}
